/*
 *
 * General rules
 *
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/*
 *
 * Profile section
 *
 */

#profile {
    background: linear-gradient(to bottom, #0073e6 0%, #000 100%);
}

#profile > a#left,
#profile > a#right {
    font-size: 1em;
    text-decoration: none;
    position: absolute;
    top: 15px;
    color: #39f;
}

#profile > a#left {
    left: 15px;
}

#profile > a#right {
    right: 15px;
}

#profile > a#left:hover,
#profile > a#right:hover {
    color: #f90;
}

#profile > #content > h5 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

#profile > #content > img {
    height: 30vh;
    border-radius: 50%;
    border: 8px solid #fff;
    padding: 2px;
}

#profile > a:last-child {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #003366;
}

#profile > a:last-child:hover {
    color: #66b3ff;
}

#content {
    width: 500px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content > h5 {
    color: rgb(255, 255, 255);
}

#content > h5 + ul {
    margin: 20px 0;
    font-size: 1.5em;
    list-style: none;
    font-weight: bold;
    color: #f90;
}

#content > h5 + ul + p {
    line-height: 2;
    color: #66b3ff;
}

/*
 *
 * Projects section
 *
 */

#projects {
    background: linear-gradient(to bottom, #f90 0%, #000 100%);
}

/*
 *
 * Skillset section
 *
 */
 
#skillset {
    background: linear-gradient(to bottom, #0c0 0%, #000 100%);
}

/*
 *
 * About section
 *
 */

#about {
    background: linear-gradient(to bottom, #80f 0%, #000 100%);
}

#profile,
#projects,
#skillset,
#about {
    height: 100vh;
}

/*
 *
 * Footer
 *
 */

footer {
    background: #000;
    color: lightgrey;
    font-size: 0.8em;
    text-align: center;
}