@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*
 * CSS Reset by Josh W. Comeau
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
 * Google Fonts: Ubuntu
 */

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*
 * General rules
 */
:root {
  --color1: rgb(4, 28, 50);
  --color2: rgb(4, 41, 58);
  --color3: rgb(6, 70, 99);
  --color4: rgb(236, 179, 101);
  --font-size-xx-small: 0.75rem; /* ~12px */
  --font-size-x-small: 1rem; /* 16px */
  --font-size-small: 1.33rem; /* ~21px */
  --font-size-medium: 1.78rem; /* ~28px */
  --font-size-large: 2.37rem; /* ~38px */
  --font-size-x-large: 3.16rem; /* ~51px */
  --font-size-xx-large: 4.21rem; /* ~67px */
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color1);
  color: rgb(255, 255, 255);
  font-size: var(--font-size-x-small); /* base font size */
}

body.ubuntu-regular {
  @media (min-width: 426px) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > main#wrapper {
      max-width: 768px;
    }
  }
}

/*
 * Profile section
 */
#profile {
  & > div {
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    & > header {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
    }
  }
}

a#left,
a#right {
  width: fit-content;
  text-align: center;
  font-size: var(--font-size-x-small);
  text-decoration: none;
  color: #000;
  line-height: 1rem;
  transition:
    color 0.2s,
    fill 0.2s,
    background-color 0.2s;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1;
  color: var(--color3);
  fill: var(--color3);
}
a#left:hover,
a#right:hover {
  color: var(--color4);
  fill: var(--color4);
}

#profile > div > #content > img {
  height: 30vh;
  border-radius: 50%;
  border: 8px dotted var(--color2);
  padding: 24px;
}

#content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#my-name {
  font-size: var(--font-size-x-large);
  color: var(--color4);
  margin-top: 24px;
  text-shadow: 2px 2px var(--color3);
}

div.bio-text {
  background-color: var(--color2);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: var(--font-size-small);
}
p.bio {
  line-height: 1.5;
  text-align: left;
}

#content > h1 + ul + p > a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 2px;
}

/*
 * Footer
 */

section#links {
  width: 100%;
  text-align: center;
  padding: 24px 24px 0;

  > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

    & > li > a:hover {
      background-color: var(--color4);
    }
  }
}

section#notifs {
  padding: 24px;
  color: var(--color3);
}

/*
 * General
 */

.roles {
  font-size: 4rem;
  color: white;
  text-align: left;

  @media (max-width: 375px) {
    font-size: 3rem;
  }
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

span.roles:nth-child(odd) {
  position: relative;
  top: -16px;
  padding-bottom: 24px;
  border-bottom: 24px dotted var(--color2);
}
span.roles:nth-child(even) {
  position: relative;
  bottom: -16px;
  padding-top: 24px;
  border-top: 24px dotted var(--color2);
}

.text-link {
  color: white;
  text-decoration: none;
  border-bottom: 2px dotted white;
  padding-bottom: 2px;
}
.text-link:hover {
  color: var(--color4);
  border-bottom: 2px solid var(--color4);
  opacity: 1;
}

.button-links {
  width: fit-content;
  text-align: center;
  font-size: var(--font-size-x-small);
  font-weight: bold;
  text-decoration: none;
  color: var(--color1);
  fill: var(--color1);
  padding: 8px 16px;
  line-height: 1rem;
  transition:
    color 0.2s,
    fill 0.2s,
    background-color 0.2s;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  border-radius: 40px;
}
