/*
 * CSS reset
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/*
 * General rules
 */
:root {
  --color1: #008eb3;
  --color1-custom-rgba: rgba(0, 142, 179, 0.9);
  --color2: #00004d;
  --color3: #a7e5e0;
  --color4: #e4dbbe;
  --color5: #bb8f5b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #808080;
}

/*
 * Profile section
 */
#profile > div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #fb2576, #d40578, #ab0076, #80006f, #550064, #450154, #360144, #280034, #270023, #210017, #17000a, #000000);
}

a#left,
a#right {
  font-size: 1em;
  text-decoration: none;
  position: absolute;
  top: 16px;
  color: #000;
  padding: 8px;
  line-height: 16px;
  font-weight: bold;
  transition: color 1s, fill 1s, background-color 1s;
}
#profile > div > header > a#left {
  left: 16px;
}
#profile > div > header > a#right {
  right: 16px;
}

#profile > div > #content > img {
  height: 30vh;
  border-radius: 50%;
  border: 8px dotted var(--color2);
  padding: 8px;
}

#profile > div > a:last-child {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #003366;
}

#content {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-header {
  color: var(--color2);
  font-size: 32px;
  font-weight: 900;
  text-shadow: 2px 2px var(--color5);
  letter-spacing: 1px;
}

#my-name {
  font-size: 96px;
  color: var(--color5);
  font-family: 'Yesteryear';
  font-weight: 100;
  margin-top: 24px;
  text-shadow: 2px 2px var(--color2);
}

#content > h1 + ul {
  list-style: none;
  color: #fff;
  margin-bottom: 24px;
}
#content > h1 + ul,
#content > h1 + ul > li > span {
  color: #fff;
}

#content > h1 + ul > li {
  font-size: 19px;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 1px;
}

#content > h1 + ul > li > span.current-role {
  color: var(--color2);
  font-size: 24px;
}

.bio {
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  margin-bottom: 16px;
}

#content > h1 + ul + p:first-letter {
  font-size: 54px;
  font-family: 'Tangerine';
  font-weight: 700;
}
#content > h1 + ul + p:first-line {
  line-height: 0.7;
}

#content > h1 + ul + p > a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 2px;
}

#profile {
  height: 100vh;
}

/*
 * Footer
 */

#links {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#links > ul {
  margin: 21px 0;
}

#links > ul > li {
  display: inline-block;
}

#links > ul > li:not(:last-child) {
  margin-right: 21px;
}

#links > ul > li > a {
  color: #000;
  text-decoration: none;
  padding: 8px;
  line-height: 16px;
  font-weight: bold;
  transition: color 1s, fill 1s, background-color 1s;
}
#links > ul > li > a:hover,
a#left:hover,
a#right:hover {
  color: var(--color5);
  fill: var(--color5); /* for svg element */
  background-color: var(--color2);
}

.roles {
  font-size: 28px;
  color: var(--color5);
  font-family: 'Yesteryear';
  font-weight: 100;
  margin-top: 24px;
  text-shadow: 1px 1px var(--color2);
}

svg {
  height: 16px;
}
