/*
 *
 * CSS reset
 *
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/*
 * Google Fonts
 */

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

/*
 *
 * General rules
 *
 */
:root {
  --color1: #008eb3;
  --color1-custom-rgba: rgba(0, 142, 179, 0.9);
  --color2: #00004d;
  --color3: #a7e5e0;
  --color4: #e4dbbe;
  --color5: #bb8f5b;
  --p-text: #808080;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--p-text);
}

main#wrapper {
  max-width: 768px;
  margin: 0 auto;
}

/*
 *
 * Profile section
 *
 */
#profile {
  & > div {
    padding: 1rem;

    & > header {
      display: flex;
      justify-content: flex-start;
    }
  }
}

#left,
#right {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  line-height: 1rem;
  font-weight: bold;
  transition:
    color 0.2s,
    fill 0.2s,
    background-color 0.2s;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.button-links {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  line-height: 1rem;
  font-weight: bold;
  transition:
    color 0.2s,
    fill 0.2s,
    background-color 0.2s;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

#profile > div > #content > img {
  height: 30vh;
  border-radius: 50%;
  border: 8px dotted var(--color2);
  padding: 8px;
}

#profile > div > a:last-child {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #003366;
}

#content {
}

#content-header {
  color: var(--color2);
  font-size: 32px;
  font-weight: 900;
  text-shadow: 2px 2px var(--color5);
  letter-spacing: 1px;
}

#my-name {
  font-size: 96px;
  color: var(--color5);
  font-weight: 100;
  margin-top: 24px;
  text-shadow: 2px 2px var(--color2);
}

#content > h1 + ul {
  list-style: none;
  color: #fff;
  margin-bottom: 24px;
}
#content > h1 + ul,
#content > h1 + ul > li > span {
  color: #fff;
}

#content > h1 + ul > li {
  font-size: 19px;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 1px;
}

#content > h1 + ul > li > span.current-role {
  color: var(--color2);
  font-size: 24px;
}

p.bio {
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content > h1 + ul + p > a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 2px;
}

/*
 *
 * Footer
 *
 */

#links {
  width: 100%;
  text-align: center;
  padding: 1rem;

  > ul {
    margin: 1rem 0;
    list-style: none;
    padding: 0;
  }
}

#links > ul > li > a:hover,
a#left:hover,
a#right:hover {
  color: var(--color5);
  fill: var(--color5); /* for svg element */
  background-color: var(--color2);
}

.roles {
  font-size: 4rem;
  color: var(--color5);
  font-weight: 100;
  text-shadow: 1px 1px var(--color2);
  text-align: left;
  margin: 1rem 0 0;
  padding-left: 1rem;

  @media (max-width: 375px) {
    font-size: 3rem;
  }
}

svg {
  height: 1rem;
}

span.roles:nth-child(odd) {
  position: relative;
  top: -16px;
  padding-bottom: 8px;
  border-bottom: 8px dotted var(--color2);
}
span.roles:nth-child(even) {
  position: relative;
  bottom: -16px;
  padding-top: 8px;
  border-top: 8px dotted var(--color2);
}

.text-link {
  color: var(--p-text);
  text-decoration: none;
  border-bottom: 2px dotted var(--p-text);
}
.text-link:hover {
  color: var(--color5);
  border-bottom: 2px solid var(--color5);
}
